<% provide(:title, 'Główna') %>

	<% if signed_in? %>
	<p>todo widok glowny</p>
	<% else %>
	<div class="center hero-unit">
	<h1>Witaj w aplikacji Kerbo</h1>
	<br>
	<p>Zwiększ efektywność swojej nauki: twórz własne karty definicji, które pomogą Ci uczyć się szybciej. Możesz przeglądać je w trybie nauki albo w trybie testu. Twórz sety z kart swoich i innych użytkowników. Dziel się swoimi zasobami z innymi. Odkryj ogromną bazę wiedzy stworzoną przez społeczność Kerbo! </p>
	<br>
	<%= link_to "Zarejestruj się!", rejestracja_path, class: "btn btn-large btn-primary" %>
	</div>
    <% end %>

