<li>
  <span class="term"><%= link_to cardset.name,  :controller => "cardsets", :action => "show", :id => cardset.id %></span>
  <span class="definition">Kategoria: <%= cardset.category %></span>
</li>