<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Fiszki", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Główna",    '#' %></li>
              <li><%= link_to "O aplikacji",    '#' %></li>
              <li><%= link_to "Zaloguj się", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>